.greeting{
    margin: 5rem 0;
    text-align: center;
    color: rgb(14, 13, 14);
    font-size: 2rem;
}

.contenedor{
    margin-top: 10rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
}